body{
    background-color:rgb(31, 58, 59);
    color:rgb(230, 116, 116);
}
.textowrite{
    font: normal 15pt Arial;
}
.container{
    width: 500px;
    height: 500px;
    margin-left: 10px;
    border-radius: 5%;
    background-color:rgb(75, 75, 75)
}
.labelcontainer{
    color:rgb(230, 116, 116);
    margin-left: 10px;
    font: normal 15pt Arial;
}
.formcontainer{
    width: 200px;
    height: 30px;
    border-radius: 5%;
    margin-left: 10px;
    background-color: rgb(236, 236, 236);
}
.labelformcontainer{
    color:rgb(7, 7, 7);
    font: normal 15pt Arial;
    margin-left: 5px;
}
.labelcontainerpokemon{
    color:rgb(230, 116, 116);
    margin-left: 100px;
    font: normal 15pt Arial;
}
.formcontainerpokemon{
    width: 200px;
    height: 30px;
    border-radius: 5%;
    margin-left: 135px;
    margin-top:30px;
    background-color: rgb(236, 236, 236);
}